*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#f4cfea,#f3d8e5);
    min-height:100vh;
    padding:40px;
}

.container{
    width:95%;
    max-width:1500px;
    margin:auto;
}

h1{
    text-align:center;
    margin-bottom:35px;
    font-size:42px;
    color:#1f2937;
    letter-spacing:1px;
}

table{
    width:100%;
    border-collapse:collapse;
    background:#fff;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 20px 40px rgba(0,0,0,.08);
}

thead{
    background:linear-gradient(90deg,#f545a8,#f690ab);
    color:white;
}

th{
    padding:20px;
    font-size:17px;
    font-weight:600;
    letter-spacing:.5px;
}

td{
    padding:18px;
    text-align:center;
    border-bottom:1px solid #ececec;
    transition:.3s;
}

tbody tr:hover{
    background:#eef4ff;
    transform:scale(1.003);
}

tbody tr:last-child td{
    border-bottom:none;
}

img{
    width:90px;
    height:90px;
    object-fit:contain;
    transition:.35s;
}

img:hover{
    transform:scale(1.15);
}

td:nth-child(2){
    text-align:left;
    width:38%;
    font-weight:600;
    color:#374151;
    line-height:1.5;
}

td:nth-child(3){
    text-transform:capitalize;
    color:#4f46e5;
    font-weight:600;
}

td:nth-child(4){
    font-size:20px;
    font-weight:bold;
    color:#16a34a;
}

td:nth-child(5){
    color:#f59e0b;
    font-weight:600;
}

@media(max-width:900px){

table{
    display:block;
    overflow-x:auto;
}

h1{
    font-size:32px;
}

img{
    width:70px;
    height:70px;
}

}
.back-btn{
    display:inline-block;
    margin-bottom:25px;
    padding:12px 24px;
    background:#e7439b;
    color:white;
    text-decoration:none;
    font-size:16px;
    font-weight:600;
    border-radius:10px;
    transition:all .3s ease;
    box-shadow:0 8px 20px rgba(233, 108, 204, 0.25);
}

.back-btn:hover{
    background:#e986c8;
    transform:translateY(-2px);
    box-shadow:0 12px 25px rgba(243, 201, 228, 0.35);
}

.back-btn:active{
    transform:scale(.97);
}