<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="UTF-8">
    <title>SkyCast</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/weather.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/cursor-trail.css') }}">
<script src="{{ url_for('static', filename='js/cursor-trail.js') }}"></script>
</head>

<body>
      <div class="navbar">


<div class="back-btn">
    <a href="/apis">Back</a>
</div>

    <div class="container">

        <h1>WeatherScope ☀</h1>

        <p class="subtitle">
            Yamuna Nagar • Haryana
        </p>

     <div class="location-box">

    <h2> Yamuna Nagar, Haryana</h2>

    <p>7-Day Weather Forecast</p>

    <a href="{{ url_for('weather') }}" class="refresh-btn">
         Refresh Forecast 🔄
    </a>

</div>

        {% if weather %}

        <div class="forecast">

            {% for i in range(weather["dayOfWeek"]|length) %}

            <div class="card">

    <div class="weather-icon">
        🌧️
    </div>

    <h2>{{ weather["dayOfWeek"][i] }}</h2>

    <div class="temp">

        <span class="high">
            {{ weather["temperatureMax"][i] }}°
        </span>

        <span class="low">
            {{ weather["temperatureMin"][i] }}°
        </span>

    </div>

    <p class="forecast">

        {{ weather["narrative"][i] }}

    </p>

</div>
            {% endfor %}

        </div>

        {% endif %}

    </div>

</body>

</html>